Repository pavlykravlyk/goit-react-hw-08-phonebook: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --ignore-unknown, eslint --fix

.lintstagedrc:

{
  "src/**/*.{json,css,scss,md}": [
    "prettier --write"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --ignore-unknown",
    "eslint --fix"
  ]
}

add selector
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactList/ContactListItem.jsx
  src/redux/contacts/contactApi.js
  src/redux/contacts/filterSlice.js
  src/redux/contacts/index.js
  src/redux/contacts/selectors.js
  src/redux/store.js
Due: prettier --write --ignore-unknown, eslint --fix

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.bd0f2928.css
  static/css/main.bd0f2928.css.map
  static/js/main.96f03c06.js
  static/js/main.96f03c06.js.LICENSE.txt
  static/js/main.96f03c06.js.map
Due: none

Update ContactListItem.jsx
  src/components/ContactList/ContactListItem.jsx
Due: prettier --write --ignore-unknown, eslint --fix

add email
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactList/ContactListItem.jsx
  src/formConfig.json
  src/redux/contacts/contactApi.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

add auth
  package-lock.json
  package.json
  src/App.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactList/ContactList.jsx
  src/components/ContactList/ContactListItem.jsx
  src/components/ContactList/ContactsList.module.css
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.module.css
  src/components/Filter/index.js
  src/components/Navigation/LoginForm.jsx
  src/components/Navigation/LoginFormConfig.json
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.module.css
  src/components/Navigation/RegisterForm.jsx
  src/components/Navigation/index.js
  src/index.css
  src/index.js
  src/redux/auth/auth-api.js
  src/redux/auth/auth-selectors.js
  src/redux/auth/auth-slice.js
  src/redux/auth/index.js
  src/redux/contacts/contact-api.js
  src/redux/contacts/contact-selectors.js
  src/redux/contacts/filter-slice.js
  src/redux/contacts/index.js
  src/redux/store.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

code splitting
  src/App.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/ContactForm.module.css
  src/components/ContactList/ContactList.jsx
  src/components/Navigation/LoginForm.jsx
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/RegisterForm.jsx
  src/components/Section/Section.jsx
  src/formConfig.json
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

add routes
  src/App.js
  src/components/Navigation/Navigation.jsx
  src/components/PrivateRoute.jsx
  src/components/PublicRoute.jsx
Due: prettier --write --ignore-unknown, eslint --fix

code formatting
  package.json
  src/App.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/contactFormConfig.json
  src/components/ContactForm/index.js
  src/components/ContactList/ContactList.jsx
  src/components/ContactList/ContactsList.module.css
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.module.css
  src/components/Filter/index.js
  src/components/LoginForm/LoginForm.jsx
  src/components/LoginForm/LoginFormConfig.json
  src/components/LoginForm/index.js
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/index.js
  src/components/RegisterForm/RegisterForm.jsx
  src/components/RegisterForm/index.js
  src/components/index.js
  src/redux/auth/auth-selectors.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

add loader
  .netlify/state.json
  netlify.toml
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/components/ButtonWithLoader/ButtonWithLoader.jsx
  src/components/ButtonWithLoader/index.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/ContactForm.module.css
  src/components/Container/Container.jsx
  src/components/Container/Container.styled.jsx
  src/components/Home/Home.jsx
  src/components/Home/index.js
  src/components/Navigation/Navigation.jsx
  src/components/PublicRoute.jsx
  src/redux/auth/auth-selectors.js
  src/redux/auth/auth-slice.js
  src/redux/contacts/contact-selectors.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

add styles
  src/App.js
  src/components/ButtonWithLoader/index.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactForm/ContactForm.module.css
  src/components/ContactForm/ContactForm.styled.js
  src/components/ContactForm/contactFormConfig.json
  src/components/ContactList/ContactList.jsx
  src/components/ContactList/ContactList.styled.js
  src/components/ContactList/ContactListItem.jsx
  src/components/ContactList/ContactsList.module.css
  src/components/ContactList/index.js
  src/components/Container/Container.styled.jsx
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.module.css
  src/components/Filter/Filter.styled.js
  src/components/Filter/index.js
  src/components/LoginForm/LoginForm.jsx
  src/components/LoginForm/LoginForm.styled.js
  src/components/LoginForm/index.js
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.module.css
  src/components/Navigation/Navigation.styled.js
  src/components/Navigation/index.js
  src/components/RegisterForm/RegisterForm.jsx
  src/components/RegisterForm/RegisterForm.styled.js
  src/components/RegisterForm/registerFormConfig.json
  src/components/Section/Section.jsx
  src/components/Section/Section.module.css
  src/components/Section/Section.styled.jsx
  src/components/Section/index.js
  src/components/UserMenu/UserMenu.jsx
  src/components/UserMenu/UserMenu.styled.js
  src/components/UserMenu/index.js
  src/index.css
  src/redux/contacts/contact-api.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

add styled
  src/components/ContactForm/ContactForm.styled.js
  src/components/ContactForm/contactFormConfig.json
  src/components/ContactList/ContactList.jsx
  src/components/ContactList/ContactList.styled.js
  src/components/ContactList/ContactListItem.jsx
  src/components/Filter/Filter.jsx
  src/components/Filter/Filter.styled.js
  src/components/Navigation/Navigation.jsx
  src/components/Navigation/Navigation.styled.js
  src/components/Navigation/index.js
  src/redux/contacts/contact-api.js
Due: prettier --write, prettier --write --ignore-unknown, eslint --fix

edit form
  src/App.js
  src/components/ContactForm/ContactForm.jsx
  src/components/LoginForm/LoginForm.jsx
  src/components/LoginForm/LoginForm.styled.js
  src/components/LoginForm/index.js
  src/components/RegisterForm/RegisterForm.jsx
Due: prettier --write --ignore-unknown, eslint --fix

Update auth-slice.js
  src/redux/auth/auth-slice.js
Due: prettier --write --ignore-unknown, eslint --fix

edit contact
  src/App.js
  src/components/ContactList/ContactList.styled.js
  src/components/ContactList/ContactListItem.jsx
  src/components/ContactList/index.js
  src/components/ContactsList/ContactList.styled.js
  src/components/ContactsList/ContactsList.jsx
  src/components/ContactsList/ContactsListItem.jsx
  src/components/ContactsList/index.js
  src/components/EditContactForm/EditContactForm.jsx
  src/components/EditContactForm/EditContactForm.styled.js
  src/components/EditContactForm/index.js
  src/components/Navigation/Navigation.jsx
  src/redux/contacts/contact-api.js
Due: prettier --write --ignore-unknown, eslint --fix

add contact edit
  src/App.js
  src/components/ContactForm/ContactForm.jsx
  src/components/ContactsList/ContactList.styled.js
  src/components/ContactsList/ContactsListItem.jsx
  src/components/EditContactForm/EditContactForm.jsx
  src/components/EditContactForm/EditContactForm.styled.js
  src/components/EditContactForm/index.js
  src/components/LoginForm/LoginForm.jsx
  src/components/Navigation/Navigation.jsx
  src/components/RegisterForm/RegisterForm.jsx
  src/components/UserMenu/UserMenu.jsx
  src/redux/contacts/contact-api.js
Due: prettier --write --ignore-unknown, eslint --fix

Update ContactsListItem.jsx
  src/components/ContactsList/ContactsListItem.jsx
Due: prettier --write --ignore-unknown, eslint --fix

Update store.js
  src/redux/store.js
Due: prettier --write --ignore-unknown, eslint --fix

create modal
  public/index.html
  src/components/ContactsList/ContactList.styled.js
  src/components/ContactsList/ContactsList.jsx
  src/components/ContactsList/ContactsListItem.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/Modal.styled.js
  src/components/Modal/index.js
Due: prettier --write --ignore-unknown, eslint --fix

Update contact-api.js
  src/redux/contacts/contact-api.js
Due: prettier --write --ignore-unknown, eslint --fix
